*
{
    margin: 0%;
    padding: 0%;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    background-color: #F1F1F3;
}
/* shared  */
.header-btn{
   font-size: 18px;
   font-weight: 500;
}
body{
     margin-left:  160px;
     margin-right: 160px;
}
.title{
    font-size: 40px;
    font-weight: bold;
 }
 .description{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
 }
.btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* nav */
nav{
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 32px;
    font-weight: bold;
}

#nav-btn
{
    width: 120px;
    height: 55px;
    padding: 15px 30px;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
}

/* banner */
.banner{
    /* width: 1200px; */
    background-color: #C6E4D6; 
    border: none;
    border-radius: 8px;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position-x: 950px;
    background-position-y: 50px;
    padding: 117px 60px;
    margin-bottom: 80px;
}
.banner-titles
{      
    background-color: #C6E4D6;
    width: 625px;
}
.banner-pri-title{
    background-color: #C6E4D6;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
 }

 .banner-sec-title{
    background-color: #C6E4D6;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
 }

 .banner-btn{
    padding: 17px 32px;
 }
 /* main section-1 */
.pillars{
    margin-bottom: 80px;
}
 
 .pillars-box{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    
 }
 .pillars img,.pillars p{
    background-color: white;
 }
 .pillars h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    background-color: white; 
 }
 
 .pillar{
    padding: 24px;
    background-color: white;  
    border-radius: 16px;
 }

