*
{
    margin: 0%;
    padding: 0%;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    background-color: #F1F1F3;
}
/* shared  */
.header-btn{
   font-size: 18px;
   font-weight: 500;
}
body{
     margin-left:  160px;
     margin-right: 160px;
}
.title{
    font-size: 40px;
    font-weight: bold;
 }
 .description{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
 }
.btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* nav */
nav{
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 32px;
    font-weight: bold;
}

#nav-btn
{
    width: 120px;
    height: 55px;
    padding: 15px 30px;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
}

/* banner */
.banner{
    /* width: 1200px; */
    background-color: #C6E4D6; 
    border: none;
    border-radius: 8px;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position-x: 950px;
    background-position-y: 50px;
    padding: 117px 60px;
    margin-bottom: 80px;
}
.banner-titles
{      
    background-color: #C6E4D6;
    width: 625px;
}
.banner-pri-title{
    background-color: #C6E4D6;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
 }

 .banner-sec-title{
    background-color: #C6E4D6;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
 }

 .banner-btn{
    padding: 17px 32px;
 }
 /* main section-1 */
.pillars{
    margin-bottom: 80px;
}
 
 .pillars-box{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    
 }
 .pillars img,.pillars p{
    background-color: white;
 }
 .pillars h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    background-color: white; 
 }
 
 .pillar{
    padding: 24px;
    background-color: white;  
    border-radius: 16px;
 }

/* main section-2 */
.vision-p{
    margin: 24px 0 32px 0;
}
.vision-boxs{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.vision-boxs h3{
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}
.vision-box-1,.vision-box-2,.vision-box-3
{
    padding: 32px 24px;
    border-radius: 8px;
    width: 550px;
}

.vision-box-1,.vision-box-1 h3,.vision-box-1 p,.vision-box-1 img{
    background-color: rgba(189, 214, 255, 1);
    
}
.vision-box-2,.vision-box-2 h3,.vision-box-2 p,.vision-box-2 img{
    background-color: rgba(198, 228, 214, 1) ;
}
.vision-box-3,.vision-box-3 h3,.vision-box-3 p,.vision-box-3 img{
    background-color: rgba(247, 235, 207, 1);
}

.vision-boxs button{
margin-top: 48px;
 font-size: 16px;
 font-weight: 600;
 color: white;
 padding: 11px 20px;
 border-radius: 8px;
 border: none;
}

.vision-box-1 button
{
    background-color:#5490F5 ;
}
.vision-box-2 button
{
    background-color:#09A15C ;
}
.vision-box-3 button
{
    background-color: #FFC239;
}

/* Recent News */
.news{
    margin: 80px 0;
}
.news-outer-p{
    margin: 24px 0 32px 0;
}
.box-1{
    margin-bottom: 24px;
}
.news-box{

    background-color: white;
    border-radius: 24px;
   padding: 50px;
   display: flex;
   gap: 32px;
}
.news-img,.news-details,.news-details h3,.news-details p,.news-details img,.time{
    background-color: white;
}
.news-img img{
    border-radius: 24px;
}
.news-details h3{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8)
}
.news-details img{
    margin: 12px 0;
}
.time{
    display: flex;
    gap: 12px;
}
.news-details p{
    margin: 12px 0 32px 0;
}
.news-details button{
    padding: 13px 26px;
}





/* main donation part */
.donate{
    padding: 0px 105px;
    margin-bottom: 80px;
}
.donate h2,.donate p{
    text-align: center;
}
.donate p{  
    margin-top: 24px ;
    padding: auto;
}
.donation-amounts{
    margin: 32px 0px;
    display: flex;
    justify-content:space-evenly;
    gap: 24px;
}
.donation-amount h3{
    padding: 40px;
    background-color: white;
     border-radius: 16px;
}

.donate input[type="text"]
{
    width: 80%;
    height: 65px;
    font-size: 20px;
    font-weight: normal;
    background-color: white;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    display: block;
    text-align: center;
    margin: auto;
}
.donate button{
    margin-top: 32px;
    padding: 17px 34px;
    display: block;
    text-align: center;
    margin: 32px auto;
}